<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/scss.css"/>


    <title>donner</title>
</head>
<body>
<div class="center-div">

    <header>
        <a href="http://managia.fr/">
            <img src="{{url_for('static', filename='350x100.jpg')}}" alt="managialogo">
        </a>
        <h1><strong>recherche</strong> d'entreprise</h1>
        <div>
            <div>
                <input type="radio" id="siren" name="drone" value="siren">
                <label for="siren">siren</label>
            </div>

            <div>
                <input type="radio" id="nom de l'entreprise" name="drone" value="nom de l'entreprise">
                <label for="nom de l'entreprise">nom de l'entreprise</label>
            </div> <div>
                <input type="radio" id="tranche ca millesime 1" name="drone" value="tranche ca millesime 1">
                <label for="tranche ca millesime 1">tranche ca millesime 1</label>
            </div>
            <button type="submit" onclick="radioClick()">validé</button>
        </div>

    </header>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <label for="in2siren">
        <script>
            function radioClick() {
                if (document.getElementById('siren').checked) {
                    document.write("<html lang=\"fr\">\n" +
                            "<head>\n" +
                            "    <meta charset=\"UTF-8\">\n" +
                            "    <link rel=\"stylesheet\" href=\"../static/css/style.css\"/>\n" +
                            "    <link rel=\"stylesheet\" href=\"../static/css/scss.css\"/>\n" +
                            "\n" +
                            "\n" +
                            "    <title>donner</title>\n" +
                            "</head>\n" +
                            "<body>\n" +
                            "<div class=\"center-div\">\n" +
                            "\n" +
                            "    <header>\n" +
                            "        <a href=\"http://managia.fr/\">\n" +
                            "            <img src=\"{{url_for('static', filename='350x100.jpg')}}\" alt=\"managialogo\">\n" +
                            "        </a>\n" +
                            "        <h1><strong>recherche</strong> d'entreprise</h1>\n" +
                            "        <div>\n" +
                            "            <div>\n" +
                            "                <input type=\"radio\" id=\"siren\" name=\"drone\" value=\"siren\">\n" +
                            "                <label for=\"siren\">siren</label>\n" +
                            "            </div>\n" +
                            "\n" +
                            "            <div>\n" +
                            "                <input type=\"radio\" id=\"nom de l'entreprise\" name=\"drone\" value=\"nom de l'entreprise\">\n" +
                            "                <label for=\"nom de l'entreprise\">nom de l'entreprise</label>\n" +
                            "            </div>\n" +
                            "            <button type=\"submit\" onclick=\"radioClick()\">validé</button>\n" +
                            "        </div>\n" +
                            "\n" +
                            "    </header>");
                    document.write("<input style='width:100%; z-index: 999999' cols='8' rows='2' placeholder='siren' type='text' id='in2siren'>   <button style=\"z-index: 999999\" type=\"button\" onclick=\"recupText();\">siren</button>\n     <section>\n" +
                            "    </section>\n" +
                            "\n" +
                            "</div>\n" +
                            "\n" +
                            "    <section>\n" +
                            "        <div id='text' style=\"z-index: 999999\" class=\"mypanel\"></div>\n" +
                            "    </section>" +
                            "<footer>\n" +
                            "    <a href=\"donner%20sec.html\">recherche par secteur</a>\n" +
                            "</footer>\n" +
                            "\n" +
                            "</body>\n" +
                            "</html>" +
                            "                  ")
                } else if (document.getElementById('nom de l\'entreprise').checked) {
                    document.write("<html lang=\"fr\">\n" +
                            "<head>\n" +
                            "    <meta charset=\"UTF-8\">\n" +
                            "    <link rel=\"stylesheet\" href=\"../static/css/style.css\"/>\n" +
                            "    <link rel=\"stylesheet\" href=\"../static/css/scss.css\"/>\n" +
                            "\n" +
                            "\n" +
                            "    <title>donner</title>\n" +
                            "</head>\n" +
                            "<body>\n" +
                            "<div class=\"center-div\">\n" +
                            "\n" +
                            "    <header>\n" +
                            "        <a href=\"http://managia.fr/\">\n" +
                            "            <img src=\"{{url_for('static', filename='350x100.jpg')}}\" alt=\"managialogo\">\n" +
                            "        </a>\n" +
                            "        <h1><strong>recherche</strong> d'entreprise</h1>\n" +
                            "        <div>\n" +
                            "            <div>\n" +
                            "                <input type=\"radio\" id=\"siren\" name=\"drone\" value=\"siren\">\n" +
                            "                <label for=\"siren\">siren</label>\n" +
                            "            </div>\n" +
                            "\n" +
                            "            <div>\n" +
                            "                <input type=\"radio\" id=\"nom de l'entreprise\" name=\"drone\" value=\"nom de l'entreprise\">\n" +
                            "                <label for=\"nom de l'entreprise\">nom de l'entreprise</label>\n" +
                            "            </div>\n" +
                            "            <button type=\"submit\" onclick=\"radioClick()\">validé</button>\n" +
                            "        </div>\n" +
                            "\n" +
                            "    </header>");
                    document.write("<textarea style='width:100%; z-index: 999999' cols='8' rows='2' placeholder='nom de l entreprise' type='text' id='in2siren'></textarea>     <button style=\"z-index: 999999\" type=\"button\" onclick=\"recupText();\">nom d'établisement</button>\n     <section>\n" +
                            "    </section>\n" +
                            "\n" +
                            "</div>\n" +
                            "\n" +
                            "    <section>\n" +
                            "        <div id='text' style=\"z-index: 999999\" class=\"mypanel\"></div>\n" +
                            "    </section>" +
                            "<footer>\n" +
                            "    <a href=\"donner%20sec.html\">recherche par secteur</a>\n" +
                            "</footer>\n" +
                            "\n" +
                            "</body>\n" +
                            "</html>" +
                            "                  ")
                }else {
                    document.write("<html lang=\"fr\">\n" +
                            "<head>\n" +
                            "    <meta charset=\"UTF-8\">\n" +
                            "    <link rel=\"stylesheet\" href=\"../static/css/style.css\"/>\n" +
                            "    <link rel=\"stylesheet\" href=\"../static/css/scss.css\"/>\n" +
                            "\n" +
                            "\n" +
                            "    <title>donner</title>\n" +
                            "</head>\n" +
                            "<body>\n" +
                            "<div class=\"center-div\">\n" +
                            "\n" +
                            "    <header>\n" +
                            "        <a href=\"http://managia.fr/\">\n" +
                            "            <img src=\"{{url_for('static', filename='350x100.jpg')}}\" alt=\"managialogo\">\n" +
                            "        </a>\n" +
                            "        <h1><strong>recherche</strong> d'entreprise</h1>\n" +
                            "        <div>\n" +
                            "            <div>\n" +
                            "                <input type=\"radio\" id=\"siren\" name=\"drone\" value=\"siren\">\n" +
                            "                <label for=\"siren\">siren</label>\n" +
                            "            </div>\n" +
                            "\n" +
                            "            <div>\n" +
                            "                <input type=\"radio\" id=\"nom de l'entreprise\" name=\"drone\" value=\"nom de l'entreprise\">\n" +
                            "                <label for=\"nom de l'entreprise\">nom de l'entreprise</label>\n" +
                            "            </div>\n" +
                            "            <button type=\"submit\" onclick=\"radioClick()\">validé</button>\n" +
                            "        </div>\n" +
                            "\n" +
                            "    </header>");
                    document.write("<textarea style='width:100%; z-index: 999999' cols='8' rows='2' placeholder='tranche ca millesime 1' type='text' id='in2siren'></textarea>     <button style=\"z-index: 999999\" type=\"button\" onclick=\"recupText();\">nom d'établisement</button>\n     <section>\n" +
                            "    </section>\n" +
                            "\n" +
                            "</div>\n" +
                            "\n" +
                            "    <section>\n" +
                            "        <div id='text' style=\"z-index: 999999\" class=\"mypanel\"></div>\n" +
                            "    </section>" +
                            "<footer>\n" +
                            "    <a href=\"donner%20sec.html\">recherche par secteur</a>\n" +
                            "</footer>\n" +
                            "\n" +
                            "</body>\n" +
                            "</html>" +
                            "                  ")
                }
            }

        </script>

    </label>


    <script type="text/javascript">

        function recupText() {
            const nomId = document.getElementById("in2siren").value;
            var jsonapinom = 'https://opendata.datainfogreffe.fr/api/records/1.0/search/?dataset=chiffres-cles-2019&facet=';
            var jsonapisiren = 'https://opendata.datainfogreffe.fr/api/records/1.0/search/?dataset=chiffres-cles-2019&siren=';

            function getValue() {
                // Sélectionner l'élément input et récupérer sa valeur
                sirenId = document.getElementById("in").value;
                // Afficher la valeur
                alert(sirenId);
                return sirenId;
            }

            console.log("s=" + nomId);


            function initElement() {
                getValue();
                p = document.getElementById("foo");
                // NOTE: showAlert(); ou showAlert(param); NE fonctionne PAS ici.
                // Il faut fournir une valeur de type function (nom de fonction déclaré ailleurs ou declaration en ligne de fonction).
                p.onclick = showAlert;

            }

            function showAlert() {
                initElement();
                alert("Evènement de click détecté");
            }

            if (document.getElementById('siren').checked) {
                $.getJSON(jsonapisiren + nomId + '', function (data) {

                    text = `nom: ${data.records[0].fields.denomination}<br>
                    Nic: ${data.records[0].fields.nic}<br>
                    Siren: ${data.records[0].fields.siren}<br>
                    Forme juridique: ${data.records[0].fields.forme_juridique}<br>
                    Code APE: ${data.records[0].fields.code_ape}<br>
                    Libellé APE: ${data.records[0].fields.libelle_ape}<br>
                    Adresse: ${data.records[0].fields.adresse}<br>
                    Code postal: ${data.records[0].fields.code_postal}<br>
                    ville: ${data.records[0].fields.ville}<br>
                    Num. dept.: ${data.records[0].fields.num_dept}<br>
                    Département: ${data.records[0].fields.departement}<br>
                    Région: ${data.records[0].fields.region}<br>
                    Code Greffe: ${data.records[0].fields.code_greffe}<br>
                    Greffe: ${data.records[0].fields.greffe}<br>
                    Date immatriculation: ${data.records[0].fields.date_immatriculation}<br>
                    Date radiation: ${data.records[0].fields.date_radiation}<br>
                    statut: ${data.records[0].fields.statut}<br>
                    Geolocalisation: ${data.records[0].fields.geolocalisation}<br>
                    Date de publication: ${data.records[0].fields.date_de_publication}<br>
                    Millesime 1: ${data.records[0].fields.millesime_1}<br>
                    Date de cloture exercice 1: ${data.records[0].fields.date_de_cloture_exercice_1}<br>
                    Durée 1: ${data.records[0].fields.duree_1}<br>
                    CA 1: ${data.records[0].fields.tranche_ca_millesime_1}<br>
                    Résultat 1: ${data.records[0].fields.resultat_1}<br>
                    Effectif 1: ${data.records[0].fields.effectif_1}<br>
                    Millesime 2: ${data.records[0].fields.millesime_2}<br>
                    Date de cloture exercice 2: ${data.records[0].fields.date_de_cloture_exercice_2}<br>
                    Durée 2: ${data.records[0].fields.duree_2}<br>
                    CA 2: ${data.records[0].fields.tranche_ca_millesime_2}<br>
                    Résultat 2: ${data.records[0].fields.resultat_2}<br>
                    Effectif 2: ${data.records[0].fields.effectif_2}<br>
                    Millesime 3: ${data.records[0].fields.millesime_3}<br>
                    Date de cloture exercice 3: ${data.records[0].fields.date_de_cloture_exercice_3}<br>
                    Durée 3: ${data.records[0].fields.duree_3}<br>
                    CA 3: ${data.records[0].fields.tranche_ca_millesime_3}<br>
                    Résultat 3: ${data.records[0].fields.resultat_3}<br>
                    Effectif 3: ${data.records[0].fields.effectif_3}<br>
                    tranche_ca_millesime_1: ${data.records[0].fields.tranche_ca_millesime_1}<br>
                    tranche_ca_millesime_2: ${data.records[0].fields.tranche_ca_millesime_2}<br>
                    tranche_ca_millesime_3: ${data.records[0].fields.tranche_ca_millesime_2}<br>
                    <a href= "${data.records[0].fields.fiche_identite}">fiche_identite </a> <br>`;


                    $(".mypanel").html(text);
                });
            } else {
                $.getJSON(jsonapinom + nomId + '', function (data) {

                    text = `nom: ${data.records[0].fields.denomination}<br>
                    Nic: ${data.records[0].fields.nic}<br>
                    Siren: ${data.records[0].fields.siren}<br>
                    Forme juridique: ${data.records[0].fields.forme_juridique}<br>
                    Code APE: ${data.records[0].fields.code_ape}<br>
                    Libellé APE: ${data.records[0].fields.libelle_ape}<br>
                    Adresse: ${data.records[0].fields.adresse}<br>
                    Code postal: ${data.records[0].fields.code_postal}<br>
                    ville: ${data.records[0].fields.ville}<br>
                    Num. dept.: ${data.records[0].fields.num_dept}<br>
                    Département: ${data.records[0].fields.departement}<br>
                    Région: ${data.records[0].fields.region}<br>
                    Code Greffe: ${data.records[0].fields.code_greffe}<br>
                    Greffe: ${data.records[0].fields.greffe}<br>
                    Date immatriculation: ${data.records[0].fields.date_immatriculation}<br>
                    Date radiation: ${data.records[0].fields.date_radiation}<br>
                    statut: ${data.records[0].fields.statut}<br>
                    Geolocalisation: ${data.records[0].fields.geolocalisation}<br>
                    Date de publication: ${data.records[0].fields.date_de_publication}<br>
                    Millesime 1: ${data.records[0].fields.millesime_1}<br>
                    Date de cloture exercice 1: ${data.records[0].fields.date_de_cloture_exercice_1}<br>
                    Durée 1: ${data.records[0].fields.duree_1}<br>
                    CA 1: ${data.records[0].fields.tranche_ca_millesime_1}<br>
                    Résultat 1: ${data.records[0].fields.resultat_1}<br>
                    Effectif 1: ${data.records[0].fields.effectif_1}<br>
                    Millesime 2: ${data.records[0].fields.millesime_2}<br>
                    Date de cloture exercice 2: ${data.records[0].fields.date_de_cloture_exercice_2}<br>
                    Durée 2: ${data.records[0].fields.duree_2}<br>
                    CA 2: ${data.records[0].fields.tranche_ca_millesime_2}<br>
                    Résultat 2: ${data.records[0].fields.resultat_2}<br>
                    Effectif 2: ${data.records[0].fields.effectif_2}<br>
                    Millesime 3: ${data.records[0].fields.millesime_3}<br>
                    Date de cloture exercice 3: ${data.records[0].fields.date_de_cloture_exercice_3}<br>
                    Durée 3: ${data.records[0].fields.duree_3}<br>
                    CA 3: ${data.records[0].fields.tranche_ca_millesime_3}<br>
                    Résultat 3: ${data.records[0].fields.resultat_3}<br>
                    Effectif 3: ${data.records[0].fields.effectif_3}<br>
                    tranche_ca_millesime_1: ${data.records[0].fields.tranche_ca_millesime_1}<br>
                    tranche_ca_millesime_2: ${data.records[0].fields.tranche_ca_millesime_2}<br>
                    tranche_ca_millesime_3: ${data.records[0].fields.tranche_ca_millesime_2}<br>
                    <a href= "${data.records[0].fields.fiche_identite}">fiche_identite </a> <br>`;


                    $(".mypanel").html(text);
                });
            }


        }
    </script>


</div>

<footer>
    <a href="donner%20sec.html">recherche par secteur</a>
</footer>

</body>
</html>