<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>donner</title>
</head>
<body>

<iframe src="https://public.opendatasoft.com/explore/embed/dataset/sirene_v3/table/?flg=fr&disjunctive.libellecommuneetablissement&disjunctive.etatadministratifetablissement&disjunctive.sectionetablissement&disjunctive.naturejuridiqueunitelegale&sort=datecreationetablissement&static=false&datasetcard=false"
        width="100%" height="600" frameborder="0"></iframe>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">

</script>

<label for="in">
    <textarea type="text" placeholder="Entrez une valeur ici" id="in"> </textarea>
</label>
<button type="button" onclick="recupText();">siren</button>
<label for="in2">
    <textarea type="text" placeholder="Entrez une valeur ici" id="in2"> </textarea>
</label>
<button type="button" onclick="recupText();">nom d'établisement</button>


<script type="text/javascript">

    function recupText() {
        var sirenId = document.getElementById("in").value;
        const nomId = document.getElementById("in2").value;

        function getValue() {
            // Sélectionner l'élément input et récupérer sa valeur
            sirenId = document.getElementById("in").value;
            // Afficher la valeur
            alert(sirenId);
            return sirenId;
        }

        console.log("s=" + sirenId);
        console.log("s=" + nomId);


        function initElement() {
            getValue();
            p = document.getElementById("foo");
            // NOTE: showAlert(); ou showAlert(param); NE fonctionne PAS ici.
            // Il faut fournir une valeur de type function (nom de fonction déclaré ailleurs ou declaration en ligne de fonction).
            p.onclick = showAlert;

        }

        function showAlert() {
            initElement();
            alert("Evènement de click détecté");
        }

        if (sirenId === ' ') {
            console.log("if siren");
            $.getJSON('https://entreprise.data.gouv.fr/api/sirene/v3/unites_legales/?dataset=chiffres-cles-2018&facet='+nomId, function (data) {

                text = `nom: ${data.unites_legales[1].siren}`;
                $(".mypanel").html(text);

            });

        }
        if (nomId === ' ') {
            console.log("if nom");

            $.getJSON('https://entreprise.data.gouv.fr/api/sirene/v3/unites_legales/' + sirenId + '/', function (data) {

                text = `nom: ${data.unite_legale.denomination}<br>
                    siren: ${data.unite_legale.siren}<br>
                    prenom_usuel: ${data.unite_legale.prenom_usuel}`;

                $(".mypanel").html(text);
            });
        }
    }
</script>


<section>
    <div class="mypanel"></div>


</section>

</body>
</html>