<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css"/>
    <title>donner</title>
</head>
<body>

<iframe src="https://public.opendatasoft.com/explore/embed/dataset/sirene_v3/table/?flg=fr&disjunctive.libellecommuneetablissement&disjunctive.etatadministratifetablissement&disjunctive.sectionetablissement&disjunctive.naturejuridiqueunitelegale&sort=datecreationetablissement&static=false&datasetcard=false"
        width="100%" height="600" frameborder="0"></iframe>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">

</script>

<label for="in">
    <input type="text" placeholder="Entrez une valeur ici" id="in">
</label>
<button type="button" onclick="recupText();">Récupérer la valeur</button>


<script type="text/javascript">

    function recupText() {
            var sirenId = document.getElementById("in").value;
        function getValue() {
            // Sélectionner l'élément input et récupérer sa valeur
            sirenId = document.getElementById("in").value;
            // Afficher la valeur
            alert(sirenId);
            return sirenId;
        }
        console.log("s="+ sirenId);


        function initElement() {
            getValue();
            p = document.getElementById("foo");
            // NOTE: showAlert(); ou showAlert(param); NE fonctionne PAS ici.
            // Il faut fournir une valeur de type function (nom de fonction déclaré ailleurs ou declaration en ligne de fonction).
            p.onclick = showAlert;

        }

        function showAlert() {
            initElement();
            alert("Evènement de click détecté");
        }

        $.getJSON('https://entreprise.data.gouv.fr/api/sirene/v1/siren/' + sirenId + '/', function (data) {

            text = `nom: ${data.siege_social.l1_normalisee}<br>
                    siren: ${data.siege_social.siren}`;

            $(".mypanel").html(text);
        });
    }
</script>


<section>
    <div class="mypanel"></div>


</section>

</body>
</html>